<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../sitio_aviones/res/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../../sitio_aviones/res/css/styles.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header></header>
    <div class="parallax-container">
        <div class="parallax"><img class="responsive-img" src="../../sitio_aviones/res/img/p_47_thunderbolt-wallpaper-3554x1999.jpg"></div>
    </div>
    <main>
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card">
                <div class="card-image">
                    <img src="../../sitio_aviones/res/img/p_47_thunderbolt-wallpaper-3554x1999.jpg">
                    <span class="card-title grey darken-1">Aviones alemanes</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">remove_red_eye</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                    <img src="../../sitio_aviones/res/img/p_47_thunderbolt-wallpaper-3554x1999.jpg">
                    <span class="card-title grey darken-1">Aviones americanos</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                    <img src="../../sitio_aviones/res/img/p_47_thunderbolt-wallpaper-3554x1999.jpg">
                    <span class="card-title grey darken-1">Aviones americanos</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                    <img src="../../sitio_aviones/res/img/p_47_thunderbolt-wallpaper-3554x1999.jpg">
                    <span class="card-title grey darken-1">Aviones americanos</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                    <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../sitio_aviones/res/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../sitio_aviones/res/js/template.js"></script>
  </body>
</html>